<iframe src="https://docs.google.com/viewer?url=https://ofmendez.github.io/Portfolio/Pdfs/FabianPortfolio.pdf&embedded=true" style="width:720px; height:600px;" frameborder="0"></iframe>
<object data="https://docs.google.com/viewer?url=https://ofmendez.github.io/Portfolio/Pdfs/FabianPortfolio.pdf&embedded=true" type="application/pdf" width="100%" height="100%">
  <p>Alternative text - include a link <a href="https://docs.google.com/viewer?url=https://ofmendez.github.io/Portfolio/Pdfs/FabianPortfolio.pdf&embedded=true">to the PDF!</a></p>
</object>
